/*Tag´s*/

body {
    font-family: sans-serif;
    color: white;
}






/*Classes*/

.Container1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../BackGround.jpg");
    background-position: center;
    background-size: cover;
}

.Container2 {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/*ID´s*/

#P5Container {
    
    padding: 0;
    margin: 0;
    width: 900px;
    height: 600px;

}

#Container3 {
    width: 900px;
    height: 600px;
    filter: drop-shadow(15px 10px 4px #8e32a5);
    background-color: black;  
    display: flex;  
    align-items: center;
    justify-content: center;
}

#EnterCasino {
    height: 100px;
}

.gitHubLink {
    text-decoration: none;
    background: linear-gradient(
    45deg,
    rgb(0, 136, 255) 0%,
    rgba(255, 0, 174, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 150%;
}

.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem; /* defines the space between text and underline */
    position: relative;
  }

.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      45deg,
      rgba(0, 136, 255) 0%,
      rgba(255, 0, 174, 1) 100%
    );
    transform: scale(0, 1);
  }
  
  .underline-hover-effect:hover::before {
    transform: scale(1, 1);
    transition: transform 0.4s ease;
  }